.profilePhoto{
  height: 500px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.about{
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.about h4{
  font-weight: 200;
}
.about h3{
  font-size: xx-large;
}