.menu{
    display: flex;
    justify-content: space-between;
    /* padding: 0 8em */
    /* border: red 1px solid; */
}
.menu ul{
    display: flex;
    justify-content: space-between;
}

.menu ul li{
    list-style: none;
    margin-left: 20px;
}
